
html{
    font-size: 65%;
}

app-login-form, app-register-form {
    display: block;
    background-color: #eee;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: -1rem;
}

form {
    margin: 0;
}

legend {
    color: rebeccapurple;
}

label {
    font-size: 1rem;
    text-transform: uppercase;
}


label span {
    color: rebeccapurple;
}



.button, button, input[type='button'], input[type='reset'], input[type='submit']{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='color']{
    border-color: rebeccapurple;
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='color'], input[type='date'], input[type='month']{
    background-color: white;
}

a{
    color: rebeccapurple;
}

h1{
    font-family: 'Bungee Inline', cursive;
    color: black;
    line-height: 1;
}

h1 em{
    font-style: normal;
    color: rebeccapurple;
}

h2{
    color: rebeccapurple;
}

main {
    max-width: 35rem;
    margin: auto;
}

/* 
Style HomePage
*/
    app-home-page h2 {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        border: .1rem solid;
        padding: 1rem;
    }
/**/


/* 
Game page
*/
    app-game-page aside {
        background: #eee;
        padding: 1rem;
    }

    app-game-page aside div {
        background: #333;
        height: 3rem;
    }
/**/