<app-header></app-header>

<main>
  <section *ngIf="registerFormData">
    <h2 [textContent]="pageTitle" (click)="formToggle.register = !formToggle.register"></h2>

    <app-user-form
      [ngClass]="{ 'isOpen': formToggle.register }"
      [formData]="registerFormData"
      [formType]="'create'"
      (sendData)="registerUser($event)"
    >
    </app-user-form>
  </section>

  <section>
      <h2 [textContent]="pageSubTitle" (click)="formToggle.login = !formToggle.login"></h2>

      <form [ngClass]="{ 'isOpen': formToggle.login }" (submit)="logUser()">
        <label for="email" [innerHTML]="loginFormData.email.label"></label>
        <input 
          type="email" name="email" 
          [(ngModel)]="loginFormData.email.value" 
          (focus)="deleteError(loginFormData.email, 'Votre email')"
        >

        <label for="password" [innerHTML]="loginFormData.password.label"></label>
        <input 
          type="password" name="password" 
          [(ngModel)]="loginFormData.password.value" 
          (focus)="deleteError(loginFormData.password, 'Votre mot de passe')"
        >

        <button type="submit">Connexion</button>
      </form>
  </section>
</main>